@model IEnumerable<IdentityTest2.Models.Category>
@Styles.Render("~/Content/css")
@*<ul class="nav navbar-nav">*@

@using (Html.BeginForm("Insert", "AspNetUser_Category", FormMethod.Post))
{
    <ul class="nav nav-sidebar">

        @foreach (var item in Model)
        {
        <li>@Html.HiddenFor(model => item.categoryId)@Html.CheckBoxFor(model => item.isSelected)        @Html.DisplayFor(model => item.categoryName)</li>

        }
        @*@foreach (var item in Model)
            {
                if (item.isSelected)
                {
                    @Html.DisplayFor(model => item.categoryName)
                }

            }*@
    </ul>
}


