@model IdentityTest2.Models.News1

@{
    Layout = "";
}

@using (Html.BeginForm("LikeNews", "News1", new { id = Model.newsId }, FormMethod.Post, null))
{
    @Html.AntiForgeryToken()


    <div class="col-md-offset-2 col-md-10">
        <input type="submit" value="Like" class="btn btn-default" />
    </div>


}





