@{
    ViewBag.Title = "Contact Us";
}
<h2>@ViewBag.Title.</h2>
@*<h3>@ViewBag.Message</h3>*@
<h3>Kapy's Contact Info</h3>
@*<address>
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>*@

<address>
    Kapy Group<br />
    School of Engineering and Computing<br />
    National University<br/>
    9388 Lightwave Ave, San Diego, CA 92123<br/>
    
</address>
<address>
    <strong>Email:</strong>   <a href="mailto:kapynews@gmail.com">Kapynews@gmail.com</a><br />
    <strong>Facebook:</strong>   <a href="https://www.facebook.com/kapy.crawl">https://www.facebook.com/kapy.crawl</a><br />
 
</address>