@{
    ViewBag.Title = "Home Page";
}
<h2 id="topheadertext">Personalized News Aggregation Web Application using Crawlers</h2>
<div class="jumbotron" style="margin-top:15px;">
    @*<h1>KAPY's News</h1>*@
    <img id="biglogo" src="~/Content/Images/kapy_logo.png" style="width:70%; margin:-10% 15% -10%;">
    <!--<p class="lead">KAPY news aggregates news from various sources and provides most updated news for you.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>-->
</div>

<div>
    <p class="lead" style="text-align:center;">KAPY News aggregates from various sources and provides you the most update-to-date news.</p>

</div>

<div class="row">
    <div class="col-md-4">
        <!--<h2>@Html.ActionLink("KAPY's Hot News", "HotNews", "News1")</h2>-->
        <h2>News</h2>
        <p>
            KAPY News provides you with the latest stories as they are publicized on their respective outlets, allowing you to stay up-to-date at all times.
        </p>
        <p style="text-align:center; margin-top:20px;"><a class="btn btn-default" href="../News1">Get the Lastest News!</a></p>
    </div>
    <div class="col-md-4">
        <!-- <h2>@Html.ActionLink("Categories", "Index", "Categories")</h2> -->
        <h2>Categories</h2>
        <p>KAPY News categorizes news into various feeds and allows registered user to control the types of news they receive.<br /><br />Categories include...</p>

        <table style="width:100%;">
            <tr>
                <td style="width:50%; vertical-align:top;">
                    <ul>
                        <li>World</li>
                        <li>Politics</li>
                        <li>US & Canada</li>
                        <li>Tech & Science</li>
                        <li>Sports</li>
                        <li>Opinion</li>
                        <li>Entertainment & Arts</li>
                    </ul>
                </td>
                <td style="width:50%; vertical-align:top;">
                    <ul>
                        <li>Business</li>
                        <li>Health</li>
                        <li>Lifestyle</li>
                        <li>Weather</li>
                        <li>Education & Family</li>
                        <li>Other</li>
                    </ul>
                </td>
            </tr>
        </table>
    </div>
    <div class="col-md-4">
        <!--<h2>@Html.ActionLink("Sources", "Index", "Sources")</h2>-->
        <h2>Sources</h2>
        <p style="margin-bottom:15px;">KAPY News gathers the latest stories from various sources to provide you with comprehensive and cutting-edge news.</p>
        <p style="text-align:center;">
            <a href="http://www.bbc.com/news" target="_blank">
                <img id="bbc_logos" src="~/Content/Images/bbcnews_logo.png" style="width:59%;">
            </a>
        </p>
        <p style="text-align:center;">
            <a href="http://www.foxnews.com/" target="_blank">
                <img id="bbc_logos" src="~/Content/Images/foxnews_logo.jpeg" style="width:59%;">
            </a>
        </p>
    </div>
</div>