@model IEnumerable<IdentityTest2.Models.Category>
@{
    ViewBag.Title = "AddCategories";
    Layout = "~/Views/Shared/_Layout.cshtml";
    if (ViewBag.Message != null)
    {
        @ViewBag.Message;
    }
}
<h2>Select Subjects</h2>
<p>
    <div style="font-family:Arial">
        @using (Html.BeginForm("AddCategories", "Manage", FormMethod.Post))
        {
            @Html.EditorForModel()
            <br />
            <input type="submit" value="Submit" class="btn btn-default">
        }
    </div>
</p>

