@model IdentityTest2.Models.RegisterViewModel

@using (Html.BeginForm("Index", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()

    <br />
    <br />

    <div class="userProfile_outerContainer" style="padding-left : 5% ; padding-top : 5%">


        @*<div class="userProfile_rowContainer">*@
        <div class="userProfile_outerContainer" style="padding-left : 5% ; padding-top : 5%">
            <div class="post-container">
                <div class="post-thumb">

                    <img id="usercirclepicmedium" src="@Url.Action("UserPhotos", "Home" )" />
                </div>

                <div class="post-content">
                    <h3 class="post-title">Profile Picture</h3>

                    <input type="file" name="UserPhoto" id="fileUpload" accept=".png,.jpg,.jpeg,.gif,.tif" onchange="this.form.submit()" />

                    <input type="submit" value="Update Profile Picture" />
                    <br />

                </div>
            </div>

        
        @*</div>*@

        <div style="clear:both;"></div>

    </div>

}