@model IEnumerable<IdentityTest2.Models.Category>

@{
    ViewBag.Title = "Insert";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Select Subjects</h2>
<p>
   <div style="font-family:Arial"> 
       @using (Html.BeginForm("Insert", "AspNetUser_Category", FormMethod.Post))
       {
           //@Html.EditorForModel()
        foreach (var u in Model)
        {
            @Html.HiddenFor(item => u.categoryId)
            @Html.HiddenFor(item => u.categoryName)
            <br />
            @Html.CheckBoxFor(item => u.isSelected)
            @Html.DisplayFor(item => u.categoryName)


           }

        <br />
            <input type="submit" value="Submit" class="btn btn-default">
       }
    </div>
</p>


