@model IEnumerable<IdentityTest2.Models.Category>
@{
    ViewBag.Title = "Select Categories";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p>
    @Html.Partial("ListSelectedCategories")
    <div style="font-family:Arial">
        @using (Html.BeginForm("Insert", "AspNetUser_Category", FormMethod.Post))
        {                     
            <br />
            <h4>Select Categories</h4>
            <br />
            @Html.EditorForModel()
            <br />
            <input type="submit" value="Submit" class="btn btn-default">
        }
    </div>
</p>

