@model IEnumerable<IdentityTest2.Models.Category>
@{
    ViewBag.Title = "Insert";
    Layout = "~/Views/Shared/_Layout.cshtml";


}

            <p>
                <div style="font-family:Arial">
                    @using (Html.BeginForm("Insert", "AspNetUser_Category", FormMethod.Post))
                    {
                        @*@Html.Partial("ListSelectedCategories")*@
                        
                        <br />
                        <h4>Select Categories</h4>
                        <br />
                        @Html.EditorForModel()
                        <br />
                        <input type="submit" value="Submit" class="btn btn-default">
                    }
                </div>
            </p>

