@model IdentityTest2.Models.Comment1

@{
    Layout = "";
}

@using (Html.BeginForm("LikeAComment", "Comment1", new { id = @ViewBag.commentID }, FormMethod.Post, null))
{
    @Html.AntiForgeryToken()

   
    <div class="col-md-offset-2 col-md-10">
        <input type="submit" value="Like" class="btn btn-default" />
    </div>
           

}



